@model LoginModel
@{
    ViewData["Title"] = "Вход";
    Layout = "_AuthLayout";
}

<div class="contentForm d-flex flex-column w-100 align-items-center">
    <span class="headText">Вход</span>
    <form class="formAuth" asp-action="Login" asp-controller="Auth" method="post" id="form-login">
        <div class="form-floating">
            <input asp-for="Email" type="email" class="form-control" id="floatingEmail" name="Email" placeholder=" ">
            <label asp-for="Email" for="floatingEmail">Электронная почта</label>
        </div>

        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" name="Password" placeholder=" ">
            <label asp-for="Password" for="floatingPassword">Пароль</label>
        </div>

        <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="rememberMe">
            <label asp-for="RememberMe" class="form-check-label" for="rememberMe">
                Запомнить меня
            </label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
    </form>

    <div class="linkAuth d-flex justify-content-between w-100 mt-3">
        <a asp-controller="Home" asp-action="Index">Забыли пароль?</a>
        <a asp-controller="Auth" asp-action="Register">Регистрация</a>
    </div>
</div>