@model ProfileModel
@{
    ViewData["Title"] = "Профиль";
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}
<h1>Ваше имя:</h1> <h2>@Model.CurrentName</h2>
<h1>Ваше почта:</h1> <h2>@Model.CurrentEmail</h2>
<a asp-controller="Auth" asp-action="Logout" class="btn btn-danger">Выйти из аккаунта</a>